.button {
    padding: 15px 20px;
    color: #FFF;
    background-color: $COLOR_PRIMARY;
    overflow: hidden;
    position: relative;
    display: inline-block;

    &:visited, &:active {
        color: #FFF;
    }

    &:hover {
        span {
            width: 150%;
        }
    }

    span {
        transition-duration: .4s;
        position: absolute;
        width: 30px;
        height: 150px;
        background-color: $COLOR_SECONDARY;
        z-index: -1;
        left: -45px;
        top: -27px;
        transform: rotate(160deg); 
    }
}

.button--outline {
    @extend .button;
    border: 2px solid #FFF;
    background-color: transparent;

    &:active, &:visited {
        color: #FFF;
    }

    &:hover {
        color: $COLOR_PRIMARY;
        border-color: #FFF;
    }

    span {
        background-color: #FFF;
    }
}