ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
}

.post, .page {
    margin: 0;
}