$COLOR_PRIMARY: #4C9D78;
$COLOR_SECONDARY: #1A5442;

$FONT_BODY: 'Montserrat', sans-serif;
$FONT_HEADING: 'Libre Baskerville', serif;

$WEIGHT_LIGHT: 300;
$WEIGHT_REGULAR: 400;
$WEIGHT_MEDIUM: 500;
$WEIGHT_SEMIBOLD: 600;

$CONTAINER: 1400px;
$CONTAINER_HALF: 700px;